nav {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

nav .home-link {
  grid-column: 1/2;
  grid-row: 1;
  align-items: center;
  display: grid;
  justify-content: center;
}

.home-link button {
  width: fit-content;
  border-radius: 12px;
  background: rgb(171, 171, 171);
  padding: 5px 10px;
  color: white;
}

.home-link button:hover {
  cursor: pointer;
  background: rgb(155, 214, 157);
}

nav p {
  grid-column: 4/9;
  grid-row: 1;
}

main {
  max-width: 800px;
  margin: auto;
  color: white;
}

.score {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.prompt {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-content: center;
  gap: 20px;
}

.question-block {
  grid-column: 2/11;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto 1rem;
  height: 100px;
}

.question-block .status {
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

.question-block .question {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}


.answer-block {
  grid-column: 2/11;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  font-size: 1.6rem;
  font-family: sans-serif;
  border-radius: 100px;
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-weight: bold;
  color: white;
}

.answer:hover {
  cursor: pointer;
}

.answer:nth-child(2) {
  background: rgba(83, 211, 134, 0.8);
}

.answer:nth-child(2):hover {
  background: rgb(83, 211, 134);
}

.answer:nth-child(3) {
  background: rgb(230, 113, 236, 0.8);
}

.answer:nth-child(3):hover {
  background: rgb(230, 113, 236);
}

.answer:nth-child(4) {
  background: rgb(234, 89, 89, 0.8);
}

.answer:nth-child(4):hover {
  background: rgb(234, 89, 89);
}

.answer:nth-child(5) {
  background: rgb(104, 183, 252, 0.8);
}

.answer:nth-child(5):hover {
  background: rgb(124, 190, 247);
}