main {
  max-width: 800px;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

input[type="number"] {
    font-size: 16px;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;
}

input[type="checkbox"] {
  display: none;
}

input[type="number"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
  display: inline-block;
  font-size: 16px;
  color: #333;
  background-color: #e0e0e0;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked + label {
  background-color: #007BFF;
  color: white;
  /* border-color: #0056b3; */
  transform: scale(1.05);
}

label:hover {
  background-color: #d6d6d6;
}

button {
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


form {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.title {
  height: fit-content;
  padding: 5px;
  font-weight: bold;
  font-size: 4rem;
}

.home-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.toggle-container {
  display: flex;
  gap: 10px;
}

.toggle-container label {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* When the radio button is checked, style the label */
.toggle-container input[type="radio"]:checked + label {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.1);
}

.toggle-container input[type="radio"] {
  display: none;
}

/* Hover effect */
.toggle-container label:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.submit-button {
  margin-top: 20px;
}