main {
  max-width: 800px;
  width: 100vw;
  height: 100vh;
  color: white;
}

.home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.title {
  height: fit-content;
  padding: 0 10px;
  font-weight: bold;
  font-family: cursive;
  font-size: 5rem;
  color: rgb(252, 135, 80);
  margin: 5px 0 20px;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"]:checked+label {
  transform: scale(1.05);
}

label:nth-of-type(4n + 1) {
  background-color: rgb(230, 113, 236, 0.3);
}

label:nth-of-type(4n + 1):hover {
  background-color: rgb(230, 113, 236, 0.5);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 1) {
  background-color: rgb(230, 113, 236, 0.8);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 1):hover {
  background-color: rgb(230, 113, 236, 0.65);
}

label:nth-of-type(4n + 2) {
  background-color: rgb(83, 211, 134, 0.3);
}

label:nth-of-type(4n + 2):hover {
  background-color: rgb(83, 211, 134, 0.5);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 2) {
  background-color: rgb(83, 211, 134, 0.8);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 2):hover {
  background-color: rgb(83, 211, 134, 0.65);
}

label:nth-of-type(4n + 3) {
  background-color: rgb(104, 183, 252, 0.3);
}

label:nth-of-type(4n + 3):hover {
  background-color: rgb(104, 183, 252, 0.5);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 3) {
  background-color: rgb(104, 183, 252, 0.8);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 3):hover {
  background-color: rgb(104, 183, 252, 0.65);
}

label:nth-of-type(4n + 4) {
  background-color: rgb(234, 89, 89, 0.3);
}

label:nth-of-type(4n + 4):hover {
  background-color: rgb(234, 89, 89, 0.5);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 4) {
  background-color: rgb(234, 89, 89, 0.8);
}

input[type="checkbox"]:checked+label:nth-of-type(4n + 4):hover {
  background-color: rgb(234, 89, 89, 0.65);
}

h2 {
  padding: 20px 20px 0;
  font-size: 1.2rem;
}

.toggle-container {
  display: flex;
  gap: 10px;
  padding: 0 30px;
}

.toggle-container label {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #f0f0f0;
  color: black;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-container input[type="radio"]:checked+label {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.1);
}

.toggle-container input[type="radio"] {
  display: none;
}

.toggle-container label:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

button {
  display: flex;
  justify-self: center;
  background-color: rgb(252, 135, 80, .9);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(252, 135, 80, 1);
}