main {
  max-width: 800px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: white;
}

.home-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px 30px;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked+label {
  color: white;
  transform: scale(1.05);
}

label[for="movies"] {
  background-color: rgb(230, 113, 236, 0.3);
}

label[for="movies"]:hover {
  background-color: rgb(230, 113, 236, 0.8);
}

input[type="checkbox"]:checked+label[for="movies"] {
  background-color: rgb(230, 113, 236, 0.9);
}

label[for="comics"] {
  background-color: rgba(83, 211, 134, 0.3);
}

label[for="comics"]:hover {
  background-color: rgba(83, 211, 134, 0.5);
}

input[type="checkbox"]:checked+label[for="comics"] {
  background-color: rgb(83, 211, 134, 0.8);
}

label[for="music"] {
  background-color: rgb(234, 89, 89, 0.3);
}

label[for="music"]:hover {
  background-color: rgb(234, 89, 89, 0.5);
}

input[type="checkbox"]:checked+label[for="music"] {
  background-color: rgb(234, 89, 89, 0.8);
}

label[for="pokemon"] {
  background-color: rgb(104, 183, 252, 0.3);
}

label[for="pokemon"]:hover {
  background-color: rgb(104, 183, 252, 0.5);
}

input[type="checkbox"]:checked+label[for="pokemon"] {
  background-color: rgb(104, 183, 252, 0.8);
}

button {
  display: flex;
  justify-self: center;
  background-color: #007BFF;
  color: white;
  font-size: 2rem;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 5rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

form {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.title {
  height: fit-content;
  padding: 5px;
  font-weight: bold;
  font-family: cursive;
  font-size: 5rem;
  color: rgb(252, 135, 80);
}

.toggle-container {
  display: flex;
  gap: 10px;
}

.toggle-container label {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-container input[type="radio"]:checked+label {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.1);
}

.toggle-container input[type="radio"] {
  display: none;
}

.toggle-container label:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.submit-button {
  margin-top: 20px;
}