<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Game</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/game.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <header>
    <nav>
      <div class="home-link">
        <button onclick="window.location.href='/'">Back</button>
      </div>
      <p class="score">Score: <span>{{ score }}</span></p>
    </nav>
  </header>
  <main class="prompt">
    <div class="question-block">
      <p class="status">Question {{ question_number }} of {{ questions|length }}</p>
      <p class="question">{{ question_text }}</p>
    </div>
    <form method="post" class="answer-block">
      {% csrf_token %}
      {% for answer in answers %}
      <button class="answer" type="submit" name="answer" value="{{ answer }}">{{ answer }}</button>
      {% endfor %}
    </form>
  </main>
</body>

</html>