<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quirk</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <header class="home-header">
    <nav>
      <a href="/">Home</a> |
      <a href="/leaderboard/">Leaderboard</a>
    </nav>
  </header>

  <main class="home-main">
    <div class="title">
      <div class="title-1">Horseshoes</div>
      <div class="title-2">and</div>
      <div class="title-3">Handgrenades</div>
    </div>
    <div class="start-game-btn-container">
      <button onclick="window.location.href='/start/'" class="start-game-btn">Start Game</button>
    </div>
  </main>

  <footer class="home-footer">
  </footer>
</body>

</html>