<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quirk</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <main class="home-main">
    <form method="POST" action="{% url 'start_game' %}">
      {% csrf_token %}
      <h1 class="title">
        Quirk
      </h1>
      <div class="category-wrapper">
        <input type="checkbox" id="movies" checked name="topics" value="movies">
        <label for="movies">Movies</label>

        <input type="checkbox" id="comics" checked name="topics" value="comics">
        <label for="comics">Comics</label>

        <input type="checkbox" id="pokemon" checked name="topics" value="pokemon">
        <label for="pokemon">Pokemon</label>

        <input type="checkbox" id="music" checked name="topics" value="music">
        <label for="music">Music</label>

        <input type="checkbox" id="geography" checked name="topics" value="geography">
        <label for="geography">Geography</label>

        <input type="checkbox" id="history" checked name="topics" value="history">
        <label for="history">History</label>

        <input type="checkbox" id="english" checked name="topics" value="english">
        <label for="english">English</label>

        <input type="checkbox" id="spanish" checked name="topics" value="spanish">
        <label for="spanish">Spanish</label>

        <input type="checkbox" id="french" checked name="topics" value="french">
        <label for="french">French</label>

        <input type="checkbox" id="german" checked name="topics" value="german">
        <label for="german">German</label>

        <input type="checkbox" id="japanese" checked name="topics" value="japanese">
        <label for="japanese">Japanese</label>

        <input type="checkbox" id="books" checked name="topics" value="books">
        <label for="books">Literature</label>

        <input type="checkbox" id="chemistry" checked name="topics" value="chemistry">
        <label for="chemistry">Chemistry</label>
      </div>
      <h2>Number of Questions per Category:</h2>
      <div class="toggle-container">
        <input type="radio" id="five" name="num_questions" value="5" checked>
        <label for="five">5</label>

        <input type="radio" id="ten" name="num_questions" value="10">
        <label for="ten">10</label>

        <input type="radio" id="fifteen" name="num_questions" value="15">
        <label for="fifteen">15</label>

        <input type="radio" id="twenty" name="num_questions" value="20">
        <label for="twenty">20</label>
      </div>
      <div>
        <button type="submit">Start Game</button>
      </div>
    </form>
  </main>
  <script>
    function toggleHide(triggerId, targetId) {
      const trigger = document.getElementById(triggerId);
      const target = document.getElementById(targetId);
      if (trigger.checked) {
        target.style.display = "block";
      } else {
        target.style.display = "none";
      }
    }
  </script>
</body>

</html>