<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Game</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a> |
      <a href="/leaderboard/">Leaderboard</a>
    </nav>
  </header>
  <main>
    <h1>Welcome to the Leaderboard!</h1>
  </main>
</body>

</html>